<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
  <title>IFA - Menu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  
  <link rel="stylesheet" href="listedefautadmin.component.scss"/>
  
</head>
<body>
	<div class="container">
		<nav>
    
      
		<div style="margin: 10px;">
				<img src="assets/img/draexlmaier.png" alt="" width="250px">
			</div>
		<ul class="sidebar-menu">
            <li><a routerLink="/homeadmin"><i class="fa fa-home"></i>Accueil</a></li>
            <li><a routerLink="/listedefautadmin"><i class="fa fa-suitcase"></i>Défauts</a></li>
            <li><a routerLink="/listeutilisateur"><i class="fa fa-user"></i>Utilisateurs</a></li>
            <li><a routerLink="/administrateur"><i class="fa fa-sign-out-alt"></i>Déconnexion</a></li>
          
		 
		</ul>
	  </nav>

	    </div>
		<section>
			<div class="content">
				<h2>Défauts en cours</h2>
				<table>
					<thead>
						<tr>
							<th>ID</th>
							<th>Date et heure</th>
							<th>Matricule chef d'équipe</th>
							<th>Matricule chef de poste</th>
							<th>Numéro de KSK</th>
							<th>Code de défaut</th>
							<th>Position</th>
							<th>Numéro de case</th>
							<th>Tackt</th>
							<th>Matricule opérateur fautif</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of data">
							
							<td>{{ item.defautid }}</td>
							<td>{{ item.date }}</td>
							<td>{{ item.matriculeeq }}</td>
							<td>{{ item.matriculepo }}</td>
							<td>{{ item.ksk }}</td>
							<td>{{ item.code}}</td>
							<td>{{ item.position}}</td>
							<td>{{ item.case}}</td>
							<td>{{ item.tackt}}</td>
							<td>{{ item.matriculefautif}}</td>
							<td>
								<div>
									<input type="number" [(ngModel)]="id" placeholder="ID de l'élément">
									<input type="text" [(ngModel)]="newMatriculeFautif" placeholder="Nouveau Matricule Fautif">
									<button (click)="updateDefaut()">Modifier</button>
								  </div>
								  <div>
									
									<button (click)="deleteDefaut()">Supprimer</button>
								  </div>
	
								
							</td>
						</tr>
					</tbody>
				</table>
				  <button (click)="downloadExcel()">Télécharger Excel</button>

				  
			  
			  
			</div>

		</section>
		

    
	
</body>
</html>
