<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="menu.component.scss">
</head>
<body>
	<header>
		<div style="margin: 10px;">
			<img src="assets/img/draexlmaier.png" alt="" width="200px">
		</div>
        
	</header>
	<main>
        <h1 class="center">BIENVENUE dans l'application de retour d'information</h1>
        <h2 class="center">WILLKOMMEN</h2>
        
        <div class="container">
            <div class="box">
                <h2>Espace CFE</h2>
                <p>Accédez à votre espace CFE pour noter les défauts.</p>
                <a routerLink="/login" title="Accéder">Accéder</a>
            </div>
           
            <div class="box">
                <h2>Espace Administrateur</h2>
                <p>Accédez à votre espace administrateur pour gérer l'application.</p>
                <a routerLink="/administrateur" title="Accéder">Accéder</a>
            </div>

            <div class="box">
                <h2>Tableau de bord</h2>
                <p>Accédez au Tableau de bord pour consulter les défauts.</p>
                <a routerLink="/tableaudebord" title="Accéder">Accéder</a>
            </div>
        </div>
	</main>
	<footer>
		<p>IFA © 2023</p>
	</footer>
</body>
</html>

